* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f8f9fb;
    color: #222;
}
.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:16px 30px;
    background:#000;
    color:#fff;
}
.logo{
    font-family:'Montserrat', sans-serif;
    font-size:20px;
    font-weight:400;
    letter-spacing:4px;
    text-transform:uppercase;
}

.head{

  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  justify-items: center;
}

/* Container */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
}

/* Search */
.search-box {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.search-box input {
    width: 320px;
    padding: 12px 15px;
    border-radius: 25px 0 0 25px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;
}

.search-box button {
    padding: 12px 22px;
    border: none;
    border-radius: 0 25px 25px 0;
    background: #000;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.search-box button:hover {
    background: #333;
}

/* Product Grid */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

/* Card */
.card {
    background: #fff;
    border-radius: 18px;
    padding: 18px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.06);
    transition: 0.3s;
    position: relative;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 40px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: contain;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 6px;
}

.price {
    color: #0b5ed7;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
}

.card p {
    font-size: 13px;
    color: #666;
    margin-bottom: 15px;
}

/* Buttons */
.card .btn {
    display: inline-block;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
}

.card .btn:first-of-type {
    border: 1px solid #000;
    color: #000;
    margin-right: 8px;
}

.card .btn:first-of-type:hover {
    background: #000;
    color: #fff;
}

.card .btn:last-of-type {
    background: #b4ff12;
    color: #fff;
}

.card .btn:last-of-type:hover {
    background: #333;
}
