{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OPTERA</title>
    <link href="{% static 'css/admin.css' %}" rel="stylesheet">
</head>
<body>
    {% include "adminbar.html"%}


<div class="content">
    <div class="header">
        <h2>Dashboard</h2>
        <p>Welcome back, Admin!</p>
    </div>

    <div class="card-container">
        <div class="card">
            <h3>50</h3>
            <p>Total Products</p>
        </div>
        <div class="card">
            <h3>18</h3>
            <p>Orders Pending</p>
        </div>
        <div class="card">
            <h3>120</h3>
            <p>Total Users</p>
        </div>
        <div class="card">
            <h3>₹75,000</h3>
            <p>Total Sales</p>
        </div>
    </div>
</div>
</body>
</html>