{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Payment | OPTERA</title>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Poppins:wght@200;600;700&display=swap"
        rel="stylesheet">


    <!-- OPTIONAL ICONS (makes UI look premium) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/payment.css' %}">

</head>

<body>

    <header class="topbar">
        <div class="logo">OPTERA</div>
        <nav>
            <div class="navbar-nav">
                <a href="index">Home</a>
                <a href="product">Products</a>

                <a href="profile">
                    <i class="bi bi-person-circle"></i>
                </a>

                <a href="cart">
                    <i class="bi bi-cart"></i>
                </a>

                <a href="{% url 'user_order_status' %}">
                    <i class="bi bi-box"></i>
                </a>

                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </nav>
    </header>

    <div class="payment-container">

        <!-- LEFT SIDE PAYMENT FORM -->
        <div class="payment-wrapper">

            <h2>Secure Card Payment</h2>
            <p class="subtitle">All transactions are encrypted and secure.</p>

            <form method="POST">
                {% csrf_token %}

                <!-- CARD NUMBER -->
                <div class="input-group">
                    <label>Card Number</label>
                    <div class="input-icon">
                        <i class="fa-regular fa-credit-card"></i>
                        <input type="text" name="card_number" maxlength="16" placeholder="1234 5678 1234 5678" required>
                    </div>
                </div>

                <!-- ROW FOR EXPIRY + CVV -->
                <div class="row-fields">

                    <div class="input-group">
                        <label>Expiry Date</label>
                        <input type="text" name="expiry_date" maxlength="5" placeholder="MM/YY" required>
                    </div>

                    <div class="input-group">
                        <label>CVV</label>
                        <input type="password" name="cvv" maxlength="3" placeholder="123" required>
                    </div>

                </div>

                <button type="submit" class="pay-btn">
                    <i class="fa-solid fa-lock"></i> Pay Securely
                </button>

            </form>

        </div>


    </div>

</body>

</html>